body {
	background-color: #DCDCDC;
}

h1  {
	 text-align: center;
	 color: #006400;
	
}

h3 {
	color:#32CD32;
}

b {
	color:rgb(50, 205, 50) ;
	font-size: 20px;
}

i {
	color: #32CD32;
	font-size: 30px;

}
